<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parqueos</title>
    
</head>

<style>
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(60, 133, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 350px;
  height: 200px;
  transition: 0.5s;
  outline: none;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.container .card:hover .face.face1 {
  background: #799ac7;
  transform: translateY(0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .card .face.face1 .content {
  /*opacity: 0.2;*/
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 250px;
  max-height: 150px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.encabezado{
    color: #fff;
    text-align: start;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 500px;
}

.btn-btn-red{
    color: #fff;
    background:rgb(223, 61, 61);
    text-align: start;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 1700px;
    border-radius: 12px
}



.buttom-button{
  color: #fff;
  background:rgb(55, 24, 167);
  text-align: start;
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 12px

}

</style>

<body>

    <div>
        <header >
            <h1 class = "encabezado">  Seleccione un parqueo para realizar la reserva:    </h1>
            
        </header>

        <div>
        <a class="btn-btn-red" href="/exit" role="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/OOjs_UI_icon_logOut-ltr-invert.svg/1024px-OOjs_UI_icon_logOut-ltr-invert.svg.png" width="25"  height="25"><p>Cerrar Sesión</p></a>
       </div>
    </div>

   
<div>

    
    <div class="container">  
        <% parking_lots.forEach(function (park) { %> 
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="https://washingtonhispanic.com/wp-content/uploads/2017/09/parqueo-1.jpg">
              <h3><%= park.name %></h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p><%= park.location %> </p>
              <p><%= park.schedule %> </p>
              <p>Espacios Generales Disponibles = <%= park.general_spaces %> </p>
              <p>Espacios Jefatura Disponibles = <%= park.leadership_spaces %> </p>
              <p>Espacios 7600 Disponibles = <%= park.disabled_spaces %> </p>
              <a class="btn btn-primary" href="/parqueos/<%= park.parking_id%> ">Reservar</a>
            </div>
          </div>
        </div>    
        <% }) %>  
    </div>

</div>

   <div>
    <% if(numero === 2){ %>
      <a class="buttom-button" href="/stats" role="button"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Icon_Stats_color.svg/1024px-Icon_Stats_color.svg.png" width="25"  height="25"><p>Ver Estadísiticas</p></a>
    <% } else{ %>
    <% } %>
    </div> 
    




</body>

</html>